@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    cursor: none;
}
*::selection{
    /* background-color: #fff; */
    /* background-color: #f00909; */
    background-color: #ff2e00;
    color: #000;
    /* color: #f00; */
    font-weight: 800;
}
html,body{
    width:100%;
    height:100%;
}
a{
    text-decoration:none;
    color:#000;
}
ul,li{
    list-style:none;
}
table, th,td{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
header, nav, main, section, article, footer{
    display: block;
}